# Web
Flask
gunicorn

# NLP e Machine Learning
nltk
scikit-learn
numpy
xgboost
imbalanced-learn
unidecode

# PDF, Word e OCR
pdfplumber
python-docx
pillow
pytesseract
pdf2image

# Utilitários
requests
regex
tqdm
